{% extends 'base/form_not_logged.html' %}

{% block page_title %}{{_('Sign in')}}{% endblock %}

{% block content %}
<h1 class="text-3xl text-slate-800 dark:text-slate-100 font-bold mb-6">{{_('Welcome')}}!</h1>

<div class="relative">
    {% if message %}
    {% if message.category.name == 'INFO' %}
    <div x-show="open" x-data="{ open: true }" role="alert" class="mb-3">
        <div class="inline-flex min-w-80 px-4 py-2 rounded-sm text-sm border bg-emerald-100 dark:bg-emerald-400/30 border-emerald-200 dark:border-transparent text-emerald-600 dark:text-emerald-500">
            <div class="flex w-full justify-between items-start">
                <div class="flex">
                    <svg class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3" viewBox="0 0 16 16">
                        <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"/>
                    </svg>
                    <div>{{message.message}}</div>
                </div>
                <button class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" @click="open = false">
                    <div class="sr-only">{{_('Close')}}</div>
                    <svg class="w-4 h-4 fill-current">
                        <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    {% else %}
    <div x-show="open" x-data="{ open: true }" role="alert" class="mb-3">
        <div class="inline-flex min-w-80 px-4 py-2 rounded-sm text-sm border bg-rose-100 dark:bg-rose-400/30 border-rose-200 dark:border-transparent text-rose-600 dark:text-rose-400">
            <div class="flex w-full justify-between items-start">
                <div class="flex">
                    <svg class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3" viewBox="0 0 16 16">
                        <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z"/>
                    </svg>
                    <div>{{message.message}}</div>
                </div>
                <button class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" @click="open = false">
                    <div class="sr-only">{{_('Close')}}</div>
                    <svg class="w-4 h-4 fill-current">
                        <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <!-- loading overlay -->
    <div class="absolute bg-white bg-opacity-60 z-10 h-full w-full flex items-center justify-center"
         data-loading="flex">
        <div class="flex items-center">
            <span class="text-3xl mr-4">{{_('Loading')}}</span>
            <svg class="animate-spin w-4 h-4 fill-current shrink-0" viewBox="0 0 16 16">
                <path d="M8 16a7.928 7.928 0 01-3.428-.77l.857-1.807A6.006 6.006 0 0014 8c0-3.309-2.691-6-6-6a6.006 6.006 0 00-5.422 8.572l-1.806.859A7.929 7.929 0 010 8c0-4.411 3.589-8 8-8s8 3.589 8 8-3.589 8-8 8z"/>
            </svg>
        </div>
    </div>

    <!-- Form -->
    {% include 'sign_in/partials/sign_in_form.html' %}

    <!-- Footer -->
    <div class="pt-5 mt-6 border-t border-slate-200 dark:border-slate-700">
        <div class="text-sm">
            {{_("Don't you have an account?")}} <a
                class="font-medium text-indigo-500 hover:text-indigo-600 dark:hover:text-indigo-400"
                href="sign-up">{{_('Sign Up')}}</a>
        </div>
    </div>
</div>
{% endblock %}
