<form hx-post="/recovery-password" hx-swap="outerHTML">
    <div class="space-y-4">
        <div>
            <label class="block text-sm font-medium mb-1" for="email">{{_('Email')}}</label>
            <input id="email" name="email" value="{{email}}" class="form-input w-full"
                   type="email"/>
        </div>
    </div>
    <div class="flex items-center justify-between mt-6">
        <button type="submit" class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3" data-loading-disable>
            {{_('Send recovery code')}}
        </button>
    </div>

    {% for message in messages %}
    <p class="mt-2 text-sm text-red-500">{{message.message}}</p>
    {% endfor %}
</form>