{% extends 'base/logged.html' %}

{% block page_title %}{{_('Add restaurant')}}{% endblock %}

{% block main_content %}
<div class="relative flex">

    <!-- Content -->
    <div class="w-full">

        <div class="min-h-[100dvh] h-full flex flex-col after:flex-1">

            <!-- Progress bar -->
            <div class="px-4 pt-12 pb-8">
                <div class="max-w-md mx-auto w-full">
                    <div class="relative">
                        <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-slate-200 dark:bg-slate-700"
                             aria-hidden="true"></div>
                        <ul class="relative flex justify-between w-full">
                            <li class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white">
                                1
                            </li>
                            <li class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-white dark:bg-slate-700 text-slate-500 dark:text-slate-400">
                                2
                            </li>
                            <li class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-white dark:bg-slate-700 text-slate-500 dark:text-slate-400">
                                3
                            </li>
                            <li class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-white dark:bg-slate-700 text-slate-500 dark:text-slate-400">
                                4
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <div class="max-w-lg mx-auto">

                    <h1 class="text-3xl text-slate-800 dark:text-slate-100 font-bold mb-6">{{_('Restaurant
                        information')}}</h1>

                    <!-- loading overlay -->
                    <div class="absolute bg-white bg-opacity-60 z-10 h-full max-w-lg mx-auto w-full flex items-center justify-center"
                         data-loading="flex">
                        <div class="flex items-center">
                            <span class="text-3xl mr-4">{{_('Loading')}}</span>
                            <svg class="animate-spin w-4 h-4 fill-current shrink-0" viewBox="0 0 16 16">
                                <path d="M8 16a7.928 7.928 0 01-3.428-.77l.857-1.807A6.006 6.006 0 0014 8c0-3.309-2.691-6-6-6a6.006 6.006 0 00-5.422 8.572l-1.806.859A7.929 7.929 0 010 8c0-4.411 3.589-8 8-8s8 3.589 8 8-3.589 8-8 8z"/>
                            </svg>
                        </div>
                    </div>

                    <!-- Form -->
                    {% include 'restaurant/partials/add_restaurant_form.html' %}

                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{PLACES_API_KEY}}&libraries=places&callback=initAutocomplete"
        type="text/javascript"></script>

<script>
    {% if ENVIRONMENT == 'TEST' %}
    document.getElementById('state').value = 'SC';
    document.getElementById('city').value = 'Florianópolis';
    document.getElementById('neighborhood').value = 'Rio Tavares';
    document.getElementById('street').value = 'Rodovia Dr. Antônio Luiz Moura Gonzaga';
    document.getElementById('street_number').value = '3339';
    document.getElementById('zip_code').value = '88048301';
    document.getElementById('latitude').value = '-27.657829';
    document.getElementById('longitude').value = '-48.4880029';
    {% else %}
    document.body.addEventListener('htmx:afterSwap', function(event) {
        if (document.getElementById('autocomplete').value !== '') {
            initAutocomplete();
        }
    });

    let autocomplete;
    let placeService;

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'),
            {types: ['address'], componentRestrictions: {country: 'br'}}
        );
        autocomplete.addListener('place_changed', fillInAutoCompleteAddress);
        placeService = new google.maps.places.PlacesService(document.createElement('div'));
        fillInAddressWithPlaceId(document.getElementById('place_id').value);
    }

    function fillInAddressWithPlaceId(placeId) {
        if (!placeId) return;

        placeService.getDetails({placeId: placeId}, function(place, status) {
            if (status === 'OK') {
                fillInAddress(place);
            }
        });
    }

    function fillInAutoCompleteAddress() {
        const place = autocomplete.getPlace();
        fillInAddress(place);
    }

    function fillInAddress(place) {
        document.getElementById('place_id').value = place.place_id;
        document.getElementById('state').value = '';
        document.getElementById('city').value = '';
        document.getElementById('neighborhood').value = '';
        document.getElementById('street').value = '';
        document.getElementById('street_number').value = '';
        document.getElementById('zip_code').value = '';
        document.getElementById('latitude').value = place.geometry.location.lat();
        document.getElementById('longitude').value = place.geometry.location.lng();

        for (const component of place.address_components) {
            const componentType = component.types[0];
            switch (componentType) {
                case 'administrative_area_level_1': {
                    const shortStateName = component.short_name.toUpperCase();
                    document.getElementById('state').value = shortStateName;
                    break;
                }
                case 'locality':
                case 'administrative_area_level_2':
                case 'political':
                case 'postal_town': {
                    if (component.long_name != null && component.long_name !== '') {
                        document.getElementById('city').value = component.long_name;
                    }
                    break;
                }
                case 'sublocality_level_1':
                case 'sublocality': {
                    if (component.long_name != null && component.long_name !== '') {
                        document.getElementById('neighborhood').value = component.long_name;
                    }
                    break;
                }
                case 'route': {
                    document.getElementById('street').value = component.long_name;
                    break;
                }
                case 'street_number': {
                    document.getElementById('street_number').value = component.long_name;
                    break;
                }
                case 'postal_code': {
                    document.getElementById('zip_code').value = component.long_name;
                    break;
                }
            }
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                const geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                const circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
    {% endif %}
</script>
{% endblock %}
