{% extends 'base/logged.html' %}

{% block page_title %}{{_('Add restaurant')}}{% endblock %}

{% block main_content %}
<div class="relative flex">

    <!-- Content -->
    <div class="w-full">

        <div class="min-h-[100dvh] h-full flex flex-col after:flex-1">

            <!-- Progress bar -->
            <div class="px-4 pt-12 pb-8">
                <div class="max-w-md mx-auto w-full">
                    <div class="relative">
                        <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-slate-200 dark:bg-slate-700"
                             aria-hidden="true"></div>
                        <ul class="relative flex justify-between w-full">
                            <li class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white">
                                1
                            </li>
                            <li class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-white dark:bg-slate-700 text-slate-500 dark:text-slate-400">
                                2
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <div class="max-w-lg mx-auto">

                    <h1 class="text-3xl text-slate-800 dark:text-slate-100 font-bold mb-6">{{_('Restaurant
                        information')}}</h1>

                    <!-- loading overlay -->
                    <div class="absolute bg-white bg-opacity-60 z-10 h-full max-w-lg mx-auto w-full flex items-center justify-center"
                         data-loading="flex">
                        <div class="flex items-center">
                            <span class="text-3xl mr-4">{{_('Loading')}}</span>
                            <svg class="animate-spin w-4 h-4 fill-current shrink-0" viewBox="0 0 16 16">
                                <path d="M8 16a7.928 7.928 0 01-3.428-.77l.857-1.807A6.006 6.006 0 0014 8c0-3.309-2.691-6-6-6a6.006 6.006 0 00-5.422 8.572l-1.806.859A7.929 7.929 0 010 8c0-4.411 3.589-8 8-8s8 3.589 8 8-3.589 8-8 8z"/>
                            </svg>
                        </div>
                    </div>

                    <!-- Form -->
                    {% include 'restaurant/partials/add_restaurant_form.html' %}

                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}
