{% from "partials/input_message.html" import input_message %}

<form {{ 'hx-patch' if id else 'hx-post' }}="/sections/{{section.id}}/products" hx-swap="outerHTML">
<input type="hidden" name="id" value="{{id}}"/>
<input type="hidden" name="section_id" value="{{section.id}}"/>
<div class="space-y-4">
    <div>
        <label class="block text-sm font-medium mb-1" for="name">{{_('Name')}}</label>
        <input id="name" name="name" class="form-input w-full px-2 py-1" type="text" value="{{name}}" required/>
        {{input_message(messages, 'name')}}
    </div>
    <div>
        <label class="block text-sm font-medium mb-1"
               for="description">{{_('Description')}}</label>
        <textarea id="description" name="description" class="form-input w-full px-2 py-1">{{description}}</textarea>
        {{input_message(messages, 'description')}}
    </div>
    <div>
        <label class="block text-sm font-medium mb-1" for="name">{{_('Price')}}</label>
        <input id="price" name="price" class="form-input w-full px-2 py-1" type="text"
               value="{{price/100 if price else ''}}" required/>
        {{input_message(messages, 'price')}}
    </div>
    <div>
        <label class="block text-sm font-medium mb-1" for="name">{{_('Image')}}</label>
        <input id="image" name="image" class="form-input w-full px-2 py-1" type="file"/>
        {{input_message(messages, 'image')}}
    </div>
    <div>
        <label class="block text-sm font-medium mb-1" for="name">{{_('Status')}}</label>
        <select id="status" name="status" class="form-input w-full px-2 py-1" required>
            {% for available_status in available_product_statuses %}
            {% if available_status == status %}
            <option value="{{available_status.value}}" selected>
                {{available_status.user_friendly_name()}}
            </option>
            {% else %}
            <option value="{{available_status.value}}">
                {{available_status.user_friendly_name()}}
            </option>
            {% endif %}
            {% endfor %}
        </select>
        {{input_message(messages, 'status')}}
    </div>
</div>
<div class="flex items-center justify-between mt-6">
    <a href="{{url_for('main.load_catalog', restaurant_id=restaurant_id)}}"
       class="btn border border-slate-200 dark:border-slate-700 hover:border-slate-300 dark:hover:border-slate-600 text-slate-600 dark:text-slate-300"
       data-loading-disable>
        {{_('Back')}}
    </a>
    <button type="submit" class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3"
            data-loading-disable>
        {{ _('Update product') if id else _('Add product') }}
    </button>
</div>

{% for message in messages %}
{% if message.target not in ['name','description','price','image','status'] %}
<p class="mt-2 text-sm text-red-500">{{message.target}}</p>
{% endif %}
{% endfor %}
</form>