<form hx-post="/restaurants" hx-swap="outerHTML" xmlns="http://www.w3.org/1999/html" class="mb-6"
      enctype="multipart/form-data">
    {% from "partials/input_message.html" import input_message %}
    <div class="space-y-4">
        <div>
            <label class="block text-sm font-medium mb-1" for="name">{{_('Name')}}</label>
            <input id="name" name="name" value="{{name}}" class="form-input w-full"
                   type="text" placeholder="{{_('Nykolas\' Restaurant')}}"/>
            {{input_message(messages, 'name')}}
        </div>
        <div class="flex space-x-4">
            <div class="flex-1">
                <label class="block text-sm font-medium mb-1" for="category">{{_('Category')}}</label>
                <select id="category" name="category" class="form-select w-full">
                    <option value="">{{_('Select a category')}}</option>
                    {% for available_category in available_categories %}
                    {% if available_category == category %}
                    <option value="{{available_category.value}}" selected>{{available_category.user_friendly_name()}}
                    </option>
                    {% else %}
                    <option value="{{available_category.value}}">{{available_category.user_friendly_name()}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                {{input_message(messages, 'category')}}
            </div>
            <div class="flex-1">
                <label class="block text-sm font-medium mb-1" for="document_number">{{_('Document number')}}</label>
                <input id="document_number" name="document_number" value="{{document_number}}" class="form-input w-full"
                       type="text" placeholder="12.345.678/0001-01"/>
                {{input_message(messages, 'document_number')}}
            </div>
        </div>
        <div class="flex space-x-4">
            <div class="flex-1">
                <label class="block text-sm font-medium mb-1" for="name">{{_('Description')}}</label>
                <textarea id="description" name="description" class="form-input w-full"
                          placeholder="{{_('Good brazilian food')}}">{{description}}</textarea>
                {{input_message(messages, 'description')}}
            </div>
            <div class="flex-1">
                <label class="block text-sm font-medium mb-1" for="logo">{{_('Logo')}}</label>
                <input id="logo" name="logo" type="file" accept="image/*" class="form-input w-full"/>
                {{input_message(messages, 'logo')}}
            </div>
        </div>
        <h3 class="font-semibold text-lg mb-4">{{_('Address')}}</h3>
        <div>
            <label class="block text-sm font-medium mb-1" for="autocomplete">{{_('Address')}}</label>
            <input id="autocomplete" name="address" value="{{address}}" class="form-input w-full"
                   type="text" onFocus="geolocate()" placeholder="{{_('Street of my restaurant, 1234')}}"/>
            {{input_message(messages, 'zip_code')}}
            {{input_message(messages, 'state')}}
            {{input_message(messages, 'city')}}
            {{input_message(messages, 'neighborhood')}}
            {{input_message(messages, 'street')}}
            {{input_message(messages, 'number')}}

            <input id="place_id" name="place_id" value="{{place_id}}" type="hidden"/>
            <input id="zip_code" name="zip_code" type="hidden"/>
            <input id="state" name="state" type="hidden"/>
            <input id="city" name="city" type="hidden"/>
            <input id="neighborhood" name="neighborhood" type="hidden"/>
            <input id="street" name="street" type="hidden"/>
            <input id="street_number" name="street_number" type="hidden"/>
            <input id="latitude" name="latitude" type="hidden"/>
            <input id="longitude" name="longitude" type="hidden"/>
        </div>
        <div class="w-1/2">
            <label class="block text-sm font-medium mb-1" for="address_complement">{{_('Address
                complement')}}</label>
            <input id="address_complement" name="address_complement" value="{{address_complement}}"
                   class="form-input w-full"
                   type="text"
                   placeholder="{{_('Second floor')}}"/>
            {{input_message(messages, 'complement')}}
        </div>
    </div>

    <div class="flex items-center justify-between mt-6">
        <button type="submit" class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-auto" data-loading-disable>
            {{_('Add restaurant')}}
        </button>
    </div>

    {% for message in messages %}
    {% if not message.target in
    ['name','category','document_number','description','logo','zip_code','state','city','neighborhood','street','number','complement']
    %}
    <p class="mt-2 text-sm text-red-500">{{message.message}} - {{message.target}}</p>
    {% endif %}
    {% endfor %}
</form>
